ul#breadcrumb {
    padding: 10px;
    font-size: larger;
    text-align: center;
}
ul#breadcrumb li {
    display: inline;
}
ul#breadcrumb li+li::before {
    content: "\> ";
    font-weight: 600;
    font-size: larger;
    padding: 10px;
}
img.largeImg {
    width: 200px;
    height: 300px;
}
img.smallImg {
    width: 100px;
    height: 50px;
}
#bookInfo * {
    padding: 10px;
}
@media screen and (max-width: 960px) {
    div#bookInfo {
        display: flex;
        flex-direction: column;
    }
    #smallImg {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 960px) {
    div#bookInfo {
        display: flex;
        flex-direction: row;
    }
    #smallImg {
        display: flex;
        flex-direction: column;
    }
}