.cateName {
    text-align: center;
    padding: 10px;
}
.bookList {
    text-align: center;
}
.bookList a {
    padding: 20px;
}
.category {
    margin: auto auto;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
}